@import url('font/itc-franklin/itc-franklin.css');
@import url('font/input.css');

body {
	padding: 0;
	margin: 0;
	background: rgb(235,255,255);
	color: rgb(90,90,90);
	font-family: 'itc-franklin', serif;
	font-weight: 200;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: itc-franklin, sans-serif;
	color: rgb(170,190,205);
	letter-spacing: -0.01em;
	font-weight: 500;
}

a {
	color: rgb(90,90,90);
	text-decoration: none;
	font-weight: 400;
	/*border-bottom: 1px solid rgba(90,90,90,0.9);*/
	/*background: rgb(215,235,245);*/
	/*padding: 2px;*/
}

code, pre {
	font-family: input-mono-narrow, monospace;
	font-size: 15px;
	font-weight: 100;
}

pre.go {color: rgb(50,90,220); }
pre.escher {color: rgb(200,100,120); }

pre {
	margin-left: 20px;
}

div.page {
	margin: auto auto;
	padding: 4em;
	width: 800px;
}

div.header {
	padding: 20px;
	left: 0;
	right: 0;
	background: rgb(220,240,240);
	/*color: white;*/
}

div.header a {
	/*color: white;*/
}

div.footer {
	text-align: center;
	font-size: 13px;
	padding: 20px;
}
